# Database connection string
DATABASE_URL="postgresql://admin:password123@localhost:5432/tournament_db?schema=public"

# NextAuth configuration
# You can generate a secret using: openssl rand -base64 32
NEXTAUTH_SECRET="supersecret123"
NEXTAUTH_URL="http://localhost:3000"

# Application port
PORT=3000
